<div>
    <!-- Author:Gaurav.kumar -->
    <!-- div for header -->
    <div class="shadow">
        <mat-toolbar color="primary">
            <span style="text-shadow: 2px 2px black;">Ak Digital Studio and Color Lab </span>
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <!-- div for main content -->
    <!-- <div  class="contentalign"> -->



    <mat-drawer-container style="width: 100%; height: 83.1vh;">
        <!-- this is menu -->
        <mat-drawer mode="side" opened style="width: 16%; background-color: #c4acee;">
            <h3 style="text-align: center;">Menu</h3>
            <hr>
            <div style="display: block;padding:0 15px 10px;">
                <div style="padding:5px 0;" *ngFor="let r of sidebar; index as i" (click)="loadPage(r.path)">
                    <span style="color: white;" class="singlemenuhover">
                      <mat-icon style="padding-top: -25px;">group_work</mat-icon>
                       <span class="singlemenuhover">  {{r.path}}</span></span>
                    <hr>
                </div>
            </div>
        </mat-drawer>
        <!-- this is content -->
        <mat-drawer-content style="width: 84%; padding : 1px 1px;">
            <router-outlet>
            </router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>


    <!-- for footer -->
    <div>
        <mat-toolbar style="background-image: linear-gradient(#8E2DE2, #4A00E0); color: white;">
            <span style="text-shadow: 2px 2px black;">{{newDate | date:'medium'}}</span>
            <span class="example-spacer"></span>
            <span style="text-shadow: 2px 2px black;">Ak Digital Studio and Color Lab </span>
        </mat-toolbar>
    </div>
</div>