<div style="width: 100%;height: 100%;">
    <!-- header -->
    <mat-card style="background-color: rgb(208, 228, 187);">
        <div class="userclass">
            <div>
                <mat-icon>verified_user</mat-icon>
            </div>
            <div style="padding-top:5px;">
                Customer Creation
            </div>
        </div>
    </mat-card>
    <!-- content -->
    <form>
        <mat-card style="background-color: rgb(188, 231, 142);">
            <div class="contentclass">
                <mat-card>
                    <div style="display: flex; text-align: center; justify-content: center; margin-top: 5px;">
                        <div style="padding: 5px 5px;">Normal</div>
                        <div>
                            <mat-slide-toggle class="example-margin" color="primary">
                            </mat-slide-toggle>
                        </div>
                        <div style="padding: 5px 5px;">Urgent</div>
                    </div>
                    <div class="formClass">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Customer Name</mat-label>
                                <input matInput placeholder="Enter Customer name">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Customer Name</mat-hint>
                            </mat-form-field>



                        </div>




                    </div>
                </mat-card>
            </div>
        </mat-card>
    </form>
</div>